@font-face {
   font-family: Philosopher-Regular;
   src: url(~fonts/Philosopher-Regular.ttf) format('truetype');
}

@font-face {
   font-family: Philosopher-Italic;
   src: url(~fonts/Philosopher-Italic.ttf) format('truetype');
}

@font-face {
   font-family: Philosopher-Bold;
   src: url(~fonts/Philosopher-Bold.ttf) format('truetype');
}

@font-face {
   font-family: Philosopher-BoldItalic;
   src: url(~fonts/Philosopher-BoldItalic.ttf) format('truetype');
}